@import '../../styles/vars';

.scrollToTop {
  &__btn {
    width: 100px;
    height: 100px;
    position: fixed;
    border: none;
    border-radius: 50%;
    background-color: $bg-upbtn;
    color: $color-white;
    font-size: 50px;
    line-height: 0px;
    bottom: 50px;
    right: 50px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8);
    cursor: pointer;
    pointer-events: all;
    transition: all 0.4s;
    @media (max-width:520px){
        bottom: 15px;
        right: 15px;
        width: 80px;
        height: 80px;
    }
    &:hover {
      background-color:$bg-upbtn-hover;
      color: $color-darkGrey;
      transform: scale(1.05);
    }
    &:active {
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8) inset;
    }

  }
  &.hide{
      display: none;
    }
}

body[style ='overflow: hidden;'] .scrollToTop__btn {
  opacity: 0;
  pointer-events: none;
}
