$bg-content: #f7eabf;
$bg-color: #fcfcfc;
$bg-header: #504b41;
$bg-footer: $bg-header;
$bg-pagination: #fcfcfc;
$bg-pagination-selected: $bg-header;
$bg-pagination-disabled: #d3c8c8;
$bg-upbtn: #5153c5;
$bg-upbtn-hover: #95c4f1;

$color-white: #fcfcfc;
$color-black: #020202;
$color-darkGrey: #2e2e2e;
$color-grey: #8b8686;

$main-font: 'Roboto', sans-serif;
$second-font: 'Amatic SC', cursive;