.card {
  background-color: #fff;
  position: relative;
  width: 350px;
  height: 350px;
  text-align: center;
  border-radius: 8px;

  &__img {
    width: 80%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
  }
  &__title{
    margin-top: 80%;
    font-weight: 700;
    font-size: 20px;
  }
}
