@import '../../styles/vars';

.card {
  background-color: #fff;
  position: relative;
  width: 260px;
  height: 265px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 5px 10px 2px #223c5033;
  cursor: pointer;
  transition: transform .6s, box-shadow .6s;

  &__img {
    width: 80%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 1px 10px 10px 10px #223c503a;
  }
  &__title{
    margin-top: 80%;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: $second-font;
  }
  &:hover{
    transform: scale(1.05);
    box-shadow: 1px 5px 10px 8px #223c5044;
  }
}
