@import '../../styles/vars';

.person {
  display: flex;
  position: relative;
  height: 450px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  &__img {
    height: 100%;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 1.0) 33%);
  }
  &__description {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 50px;
  }
  &__title {
    text-transform: capitalize;
    margin: 5px 0;
    font-family: $main-font;
    font-size: 1.1rem;
    font-weight: 700;
    &::after {
      content: ':';
      margin-left: -4px;
    }
  }
  &__quality {
    width: 50%;
  }
  &__value{
    font-family: $second-font;
    font-size: 1.25rem;
  }
  
}
